<h1>FiveM server details</h1>
<input #input pInputText />
<button type="button" pRipple [disabled]="!input.value" pButton (click)="search(input.value)" label="Submit"></button>
<br />
<div id="details">
  <p-progressSpinner *ngIf="loading" [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>

  <div *ngIf="details$ | async as details">
    Hostname: <span>{{details.Data.hostname}}</span>
    <br />
    <br />
    Clients: <span>{{details.Data.clients}}/{{details.Data.sv_maxclients}}</span>
    <br />
    <br />
    IP: <span>{{details.Data.connectEndPoints[0]}}</span>
    <br />
    <br />
    <button pRipple (click)="showJson()" styleClass="p-button-sm" pButton type="button" label="View full response"></button>
    <br /> <br />
    <div *ngIf="showJsonDiv">JSON: <span><pre>{{details | json}}</pre></span></div>
  </div>

  <div *ngIf="displayError">
    <p-message severity="error" text="{{error.error}}"></p-message>
  </div>

</div>